@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
body {
  min-height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2019/12/05/05/05/art-gallery-4674319_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: "Luxurious Roman", cursive;
}
/** Modal Box **/
.banner {
  background-color: rgba(255, 255, 255, 0.342);
  backdrop-filter: blur(5px);
  width: 40%;
  height: 15rem;
  margin: 0 auto;
  margin-top: 15%;
  padding: 2rem;
  text-align: center;
}

h1,
h2,
.modal-btn {
  text-transform: uppercase;
}

/** Modal Button **/
.modal-btn {
  padding: 1rem;
  margin: 2rem;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
}

.modal-overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.342);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
}

.open-modal {
  visibility: visible;
}

.modal-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.342);
  backdrop-filter: blur(5px);
  width: 60%;
  height: 390px;
  margin: 0 auto;
  margin-top: 15%;
  text-align: center;
  padding: 2rem;
}
/** Close Button **/
.close-btn {
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  top: 0;
  right: 0;
}

.close-btn:hover {
  -ms-transform: rotate(40deg); /* IE 9 */
  -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
  transform: rotate(40deg);
  transition: transfrom 0.2s ease-in-out;
  cursor: pointer;
}
.fa-times {
  color: rgba(0, 0, 0, 0.253);
  font-size: 1.5rem;
  padding: 1rem;
}

/** Modal Content Text **/
.article {
  position: relative;
  text-align: left;
  font-size: 1rem;
}

/** Media Queries **/
@media screen and (max-width: 992px) {
  /** Modal Box **/
  .banner {
    width: 70%;
  }
  /** CLose Button **/
  .fa-times {
    font-size: 2rem;
  }
  .modal-container {
    padding: 1rem;
  }
  h2 {
    font-size: 1.3rem;
  }

  .article {
    font-size: 0.8rem;
  }
}
